export const environment = {
  // CHANGE THE VARIABLES BELOW TO MATCH YOUR PROJECT
  towersApiUrl: 'https://x8ki-letl-twmt.n7.xano.io/api:jjKtx4O-/api/v2/towers',
  googleMapsApi: '',

  // DO NOT CHANGE THE VARIABLES BELOW
  googleMapsUrl: 'https://maps.googleapis.com/maps/api/js', //
};
