<div>
  <div class="widget-header density-settings-1">
    <h3>Towers</h3>
    <span class="header-spacer"></span>
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select
        [(value)]="selected"
        (selectionChange)="changeChartType($event)">
        <mat-option value="technology">Technology</mat-option>
        <mat-option value="operator">Operator</mat-option>
        <mat-option value="tower_type">Tower Type</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [labels]="chartOptions.labels"></apx-chart>
</div>
