@use '@angular/material' as mat;

.custom-badge .mat-mdc-standard-chip.badge-default {
  background-color: #999;
  & span {
    color: #272727;
  }
}
.custom-badge .mat-mdc-standard-chip.badge-info {
  background-color: #b4dcff;
  & span {
    color: #005aa9;
  }
}
.custom-badge .mat-mdc-standard-chip.badge-success {
  background-color: #c4ec98;
  & span {
    color: #498c00;
  }
}
.custom-badge .mat-mdc-standard-chip.badge-warning {
  background-color: #fbdbad;
  & span {
    color: #844e00;
  }
}
.custom-badge .mat-mdc-standard-chip.badge-danger {
  background-color: #ffc0be;
  & span {
    color: #783c3a;
  }
}

.density-settings-1 {
  @include mat.form-field-density(-5);
}
